*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    font-family: 'Jost', sans-serif;
}
/* CSS Light and Dark theme */
/* Light theme */
#myBody{
    background-color:white;
  }
  #switchButton {
    background-color:transparent;
  }
  .btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none;
}
  #switchButton .fa-sun {
    display: none;
  }
  #switchButton .fa-moon {
    display: block;
    color: black;
    font-size: 24px;
  }
  
  /* Dark Theme*/
  .dark#myBody{
    background-color: #151515;;
  }
  .dark #switchButton {
    background-color: transparent;
  }
  .dark #switchButton .fa-sun {
    display: block;
    color: #ddd;
    font-size: 24px;
  }
  
  .dark #switchButton .fa-moon {
    display: none;
  }
  /* ///////////////////// */
  /* header */
  header{
    background-color: white;
    box-shadow: 0 3px 9px rgb(0 0 0 / 5%);
    height: 90px;
    position: fixed;
    width: 100%;
    z-index: 9;
    top: 40px;
    display: grid;
    align-items: center;
  }
  header .navbar-brand{
    font-size: 34px;
    font-weight: 600;
    color: #189A46;
  }
  header .navbar .navbar-nav .nav-item .active{
    color: #189A46;
  }
  header .navbar-nav .nav-item .nav-link,.dropdown-item{
    font-size: 1.2em;
    font-weight: 400;
    color: #000c04;
    position: relative;
    padding: 0;
    margin: 0 8px;
    transition: all 0.5s;
  }

  header .navbar-nav .nav-item .nav-link:hover{
    color: #189A46;
  }
  header .navbar-nav .nav-link::after,header .navbar-nav .dropdown-item::before{
    content: '';
    background-color: #189A46;
    width: 0;
    height: 1px;
    position: absolute;
    bottom: 0px;
    left: 0;
    transition: all 0.5s;
  }
  header .navbar-nav .nav-link:hover:after,header .navbar-nav .dropdown-item:hover::before{
    width: 100%;
  }
      /* xu ly gach chan cho chu blog */
      header .navbar-nav .nav-link p{
        margin-bottom: 0;
      }
  header .navbar-nav .nav-link p::after{
    content: '';
    background-color: #189A46;
    width: 0;
    height: 1px;
    position: absolute;
    bottom: 0px;
    left: 0;
    transition: all 0.5s;
  }
  header .navbar-nav .nav-link p:hover:after{
    width: 100%;
  }
      /* end xu ly gach chan chu blog */
  header .navbar-nav .nav-link span.fa {
    font-size: 14px;
    display: inline-block;
    margin-left: 0px;
    font-weight: 600;
}
  .dropdown-toggle::after{
    display: none;
  }
  header .navbar-expand-lg .dropdown-menu{
    border-radius: 10px;
    transform: translateX(-50px);
    transform: translateY(10px);
    left: -40px;
  }
  /* xu ly mu ten cho dropdown menu */
  header .navbar-expand-lg .dropdown-menu::before{
    content: "";
    width: 14px;
    height: 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    position: absolute;
    top: -7px;
    left: 49%;
    transform: translateX(-50%) rotateZ(45deg);
    border-right: none;
    border-bottom: none;
    z-index: 1001;
  }
  /* end xu ly mui ten */
  a.dropdown-item {
    font-weight: 400;
    font-size: 1.2em;
    display: block;
    width: 100px;
    color: #000c04;
    margin-bottom: 14px;
    margin-left: 24px;
    margin-right: 70px;
  }
.dropdown-item:hover, .dropdown-item:focus {
  background-color: transparent;
}
  /* dark theme header */
  .dark header{
    background-color: #151515;
  }
  .dark header .navbar-nav .nav-item .nav-link,.dropdown-item{
    color: #ddd;
    transition: all 0.5s;
  }
  .dark header .navbar-nav .nav-item .nav-link:hover,.dropdown-item:hover{
    color: #189A46;
  }
  .dark header .navbar .navbar-nav .nav-item .active{
    color: #189A46;
  }
  .dark header .navbar-expand-lg .dropdown-menu{
    background-color: #151515;
    border-color: #333;
  }
  .dark header .navbar-expand-lg .dropdown-menu::before{
    background-color: #151515;
    border-color: #333;
  }
  .dark .dropdown-item{
    color: #ddd;
    transition: all 0.5s;
  }
  .dark .dropdown-item:hover{
    color: #189A46;
  }
  /* -----------responsive header---------- */
  header .navbar-toggler-icon{
    background-color: #189A46;
    color: white;
    line-height: 34px;
    border-radius: 5px;
  }
  button.navbar-toggler.collapsed .icon-close{
    display: none;
  }
  button.navbar-toggler.collapsed .icon-expand{
    display: block;
  }
  button.navbar-toggler .icon-close{
    display: block;
  }
  button.navbar-toggler .icon-expand{
    display: none;
  }
    @media screen and (max-width:991px) {
      .btn__switch{
        position: absolute;
        right: 75px;
        top: 20px;
      }
      .navbar-nav{
        text-align: center;
        background-color: #fff;
        padding: 20px 0;
        margin-top: 10px
      }
      .dark .navbar-nav{
        background-color: #151515;
      }
    }
    @media screen and (max-width:384px){
      .btn__switch{
        top: 20px;
        right: 70px;
      }
    }
/* carousel */
.pooch__carousel{
  position: relative;
}
.pooch__carousel .carousel-inner .carousel-item::before {
  content: "";
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: #0c0c0c;
  opacity: .6;
}
.pooch__carousel .carousel-inner .carousel-item{
  background-image: url(./image/banner1.jpg);
  background-size: cover;
  background-position: center;
  min-height: calc(100vh - 40px);
  position: relative;
}
.pooch__carousel .carousel-inner .carousel-item:nth-child(2){
  background-image: url(./image/banner2.jpg);
}
.pooch__carousel .carousel-inner .carousel-item:nth-child(3){
  background-image: url(./image/banner3.jpg);
}
.pooch__carousel .carousel-inner .carousel-item:last-child{
  background-image: url(./image/banner4.jpg);
}
.pooch__carousel .carousel-inner .carousel-item img{
  height: 100vh;
  display: block;
}
.pooch__carousel .carousel-inner .carousel-item h5{
  font-size: 66px;
    line-height: 76px;
    font-weight: 700;
    color: #fff;
}
.pooch__carousel .carousel-inner .carousel-item p{
    color: #fff;
    font-weight: 400;
    line-height: 30px;
    opacity: 0.9;
    font-size: 1.2em;
}
.pooch__carousel .carousel-inner .carousel-item .button-1{
  padding: 12px 35px;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  border-radius: 10px;
  background-color: white;
  color: #189A46;
}
.pooch__carousel .carousel-inner .carousel-item .button-2{
  padding: 12px 35px;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  border-radius: 10px;
  border: 2px solid #fff;
  color: #fff;
  transition: all 0.3s;
}
.pooch__carousel .carousel-inner .carousel-item .button-2:hover{
  background-color: white;
  color: #189A46;
}
.pooch__carousel .carousel-inner .carousel-caption{
  max-width: 700px;
}
.pooch__carousel .carousel-inner .item-1 .carousel-caption{
  text-align: left;
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-65%);
  z-index: 8;
}
.pooch__carousel .carousel-inner .item-2 .carousel-caption{
  text-align: left;
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translateY(-65%);
  z-index: 8;
}
.pooch__carousel .carousel-indicators li{
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 25px;
  opacity: 0.9;
  margin: 5px 5px;
  border: 1px solid transparent;
}
.pooch__carousel .carousel-indicators li.active,.pooch__carousel .carousel-indicators li:hover{
  width: 30px;
  background-color: #189A46;
  border-radius: 25px;
}
  /* -----responsive carousel------ */
  @media screen and (max-width:1200px) {
    .pooch__carousel .carousel-item .carousel-caption h5{
      font-size: 52px;
      line-height: 62px;
      bottom: 15%;
    }
  }
  @media screen and (max-width:992px) {
    .pooch__carousel .carousel-item .carousel-caption h5{
      font-size: 50px;
      line-height: 55px;
      bottom: 15%;
    }
    .pooch__carousel .carousel-inner .item-2 .carousel-caption{
      left: 5%;
      bottom: 15%;
    }
  }
  @media screen and (max-width:480px) {
    .pooch__carousel .carousel-item .carousel-caption{
      bottom: 15%;
      min-width: 330px;
    }
    .pooch__carousel .carousel-item .carousel-caption h5{
      font-size: 32px;
      line-height: 42px;
    }
    .pooch__carousel .carousel-inner .item-2 .carousel-caption{
      left: 5%;
    }
  }
  @media screen and (max-width:340px){
    .pooch__carousel .carousel-item .carousel-caption{
      min-width: unset;
    }
  }
/* About */
.about__content{
  text-align: center;
  padding: 3rem 0;
}
.pooch__about .about__content h3{
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 2em;
    letter-spacing: 1px;
    color: #f53626;
}
.pooch__about .about__content h2{
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    text-transform: capitalize;
}
.pooch__about .about__content p{
  font-size: 1.2em;
  line-height: 28px;
  color: #696969;
  font-weight: 400;
}
.pooch__about .about__content a{
  display: inline-block;
  text-decoration: none;
  font-size: 17px;
  margin-top: 20px;
  color: #000c04;
  border-bottom: 2px solid #189A46;
  font-weight: 600;
  transition: all 0.5s;
}
.pooch__about .about__content a:hover{
  color: #189A46;
}
/* dark mode about */
.dark .pooch__about .about__content h2{
  color: #ddd;
}
.dark .pooch__about .about__content a{
  color: #ddd;
  transition: all 0.5s;
}
.dark .pooch__about .about__content a:hover{
  color: #189A46;
}
.dark .pooch__about .about__content p{
  color: #afafaf;
}
/* responsive about */
@media (max-width: 1080px){
  .pooch__about .about__content h2 {
    font-size: 35px !important;
    line-height: 40px;
    }
}
@media (max-width: 600px){
  .pooch__about .about__content h2 {
    font-size: 32px !important;
    line-height: 38px;
    }
}
/* feature */
.feature{
  /* padding: 96px; */
  background-color: rgba(147, 107, 231, 0.05);
}
.feature .feature__content .feature__item{
  padding: 30px 30px;
  margin-bottom: 30px;
  border-radius: 10px;
  border: 1px solid transparent;
  transition: all 0.5s;
}
.feature .feature__content .feature__item:hover{
  background-color: rgba(147, 107, 232, 0.05);;
}
.feature .feature__content .feature__item i{
  font-size: 30px;
  color: #189A46;
}
.feature .feature__content .feature__item h3 a{
  display: inline-block;
  font-size: 24px;
  font-weight: 600;
  margin-top: 25px;
  margin-bottom: 15px;
  color: #000c04;
  border: none;
}
.feature .feature__content .feature__item p{
  font-size: 1.2em;
  line-height: 28px;
  color: #696969;
}
.feature .feature__content .feature__item a{
  font-size: 17px;
  color: #0c0c0c;
  font-weight: 600;
  text-decoration: none;
  border-bottom: 2px solid #189A46;
  transition: all 0.5s;
}
.feature .feature__content .feature__item a:hover{
  color: #189A46;
}
  /* dark feature mmode */
  .dark .feature{
    background-color: #222;
  }
 .dark .feature .feature__content .feature__item{
  background-color: #151515;
 }
 .dark .feature .feature__content .feature__item:hover{
  background-color: #222;
 }
 .dark .feature .feature__content .feature__item a{
  color: #ddd;
  transition: all 0.5s;
 }
 .dark .feature .feature__content .feature__item a:hover{
  color: #189A46;
 }
 .dark .feature .feature__content .feature__item p{
  color: #afafaf;
 }
    /* responsive feature */
 /* offer */
 .pooch__offer .offer__left img{
  border-radius: 10px;
 }
 .pooch__offer .offer__right{
  align-self: center;
 }
 .pooch__offer .offer__right h3{
  font-size: 18px;
  font-weight: 400;
  line-height: 2em;
  letter-spacing: 1px;
  color: #f53626;
 }
 .pooch__offer .offer__right h2{
  font-size: 40px;
  font-weight: 550;
  line-height: 48px;
 }
 .pooch__offer .offer__right p{
  font-size: 16px;
  line-height: 24.5px;
  color: #696969;
  font-weight: normal;
  margin: 15px 0 35px 0;
 }
 .pooch__offer .offer__right ul li{
  list-style: none;
 }
 .pooch__offer .offer__right ul li h4{
  font-size: 16px;
  line-height: 26px;
  margin: 15px 0;
  font-weight: 600;
  color: #000c04;
 }
 .pooch__offer .offer__right ul li i{
  color: #189A46;
  display: inline-block;
  margin-right: 12px;
  font-size: 10px;
  border-radius: 50%;
  background-color: rgba(147, 107, 232, 0.05);
  padding: 8px;
 }
  /* dark mode offer */
  .dark .pooch__offer .offer__right h2,.dark .pooch__offer .offer__right h4{
    color: #ddd;
  }
  .dark .pooch__offer .offer__right p{
    color: #afafaf;
  }
  /* ///////////////////// */
  /* Light Theme Counting Number */
  .number .number__item {
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
  }
  .number .number__item span {
    font-size: 50px;
    font-weight: 600;
    line-height: 80px;
  }
  @media (max-width: 992px) {
    .number__item .counter {
      font-size: 35px;
    }
    .number__item {
      margin: 48px 0;
    }
  }
  /* Light Theme Plan */
  .plan {
    background-color: rgba(147, 107, 232, 0.05);
    padding: 30px 0;
  }
  .plan__title h3 {
    color: #f53626;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 10px;
  }
  .plan__title h2 {
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    margin-bottom: 48px;
  }
  .plan__content {
    color: #696969;
  }
  .plan__content h4 {
    color: #000c04;
  }
  .plan__content-item {
    padding: 56px 40px;
    height: max-content;
    border-radius: 10px;
    background-color: #fff;
    margin-top: 50px;
    width: 30%;
  }
  .plan__content-item.middle .item-bottom {
    padding: 32px 40px 56px;
  }
  .plan__content-item p {
    color: #999;
    margin: 15px 0 20px;
  }
  .plan__content-item p span {
    color: #189a46;
    font-size: 40px;
    font-weight: 600;
  }
  .plan__content-item p span span {
    font-size: 25px;
    transform: translateY(-35%);
    display: inline-block;
  }
  .plan ul li {
    list-style: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    padding: 6px 0;
  }
  .plan button {
    font-size: 18px;
    padding: 12px 35px;
    border-radius: 10px;
    box-shadow: #0fa243 0px 0px 0px 3.2px;
    border: 1px solid #189a46;
    margin-top: 20px;
  }
  .plan__content-item.middle {
    padding: 0;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
    overflow: hidden;
    margin: 0;
    width: 40%;
  }
  .plan__content-item.middle .item-top {
    padding: 48px 40px 8px;
    background-color: #189a46;
    color: #fff;
  }
  .plan__content-item.middle .item-top h5 {
    background-color: #fff;
    color: #0fa243;
    margin: 0 0 20px;
    padding: 8px 20px;
    font-size: 15px;
    border-radius: 10px;
    display: inline-block;
  }
  .plan__content-item.middle .item-top h4,
  .plan__content-item.middle .item-top p,
  .plan__content-item.middle .item-top span {
    color: #fff;
  }
@media (max-width: 768px) {
  .plan__content-item {
    margin-top: 0;
  }
  .plan__content-item + .plan__content-item {
    margin-top: 30px;
  }
}
/* Dark Theme Plan */
.dark .plan {
  background-color: #222;
}
.dark .plan h2 {
  color: rgb(221,221,221);
}
.dark .plan__content-item {
  background-color: #151515;
}
.dark .plan__content-item ul li {
  color: #ada9a1;
}
.dark .plan__content-item h4 {
  color: rgb(221,221,221);
}
/*Light Theme  better Nutrition */
.nutri .container {
  padding: 48px 0;
}
.nutri__title h3 {
  color: #f53626;
  font-size: 18px;
  line-height: 36px;
}
.nutri__title h4 {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
}
.nutri__title p {
  font-size: 19px;
  line-height: 28px;
  margin: 16px 0;
  color: #696969;
  margin-bottom: 40px;
}
.nutri__video img {
  width: 100%;
  border-radius: 10px;
}
.nutri__video {
  position: relative;
  width: 100%;
}
.nutri__video a i {
  color: #0fa243;
  position: absolute;
  width: 55px;
  height: 55px;
  line-height: 55px;
  border-radius: 50%;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ripple 2s linear infinite;
  -webkit-animation: ripple 1s linear infinite;
}
.nutri__video a i:hover {
  transform: translate(-50%, -50%) scale(1.1);
  transition: linear 0.3s;
}
.nutri__video iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: visible;
  z-index: 20;
  width: 80%;
}
.nutri__overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: #0b0b0b;
  top: 0;
  left: 0;
  overflow: hidden;
}
.nutri-close {
  display: block;
  line-height: 1.8rem;
  position: absolute;
  right: 15%;
  top: 5%;
  text-decoration: none;
  text-align: center;
  color: #FFF;
  font-style: normal;
  font-size: 1.8rem;
  background: transparent;
  z-index: 20;
  touch-action: manipulation;
}
#videolink {
  display: none;
}
#videolink.active {
  display: contents;
}

/* Dark Theme better Nutrition */
.dark .nutri__title h4 {
  color: rgb(221,221,221);
}
.dark .nutri__title p {
  color: #ada9a1;
}
@-webkit-keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(15, 162, 67, 0.25), 0 0 0 10px rgba(15, 162, 67, 0.25), 0 0 0 20px rgba(15, 162, 67, 0.25);
  }

  100% {
    box-shadow: 0 0 0 10px rgba(15, 162, 67, 0.25), 0 0 0 20px rgba(15, 162, 67, 0.25), 0 0 0 40px rgba(50, 100, 245, 0);
  }
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(15, 162, 66, 0.164), 0 0 0 10px rgba(15, 162, 67, 0.25), 0 0 0 20px rgba(15, 162, 67, 0.25);
  }

  100% {
    box-shadow: 0 0 0 10px rgba(15, 162, 67, 0.25), 0 0 0 20px rgba(15, 162, 67, 0.25), 0 0 0 40px rgba(50, 100, 245, 0);
  }
}
/* testimonial */
.testimonial {
  background-color: #faf7fe;
}
.testimonial__title h3 {
  color: #f53626;
  font-size: 18px;
  line-height: 36px;
}
.testimonial__title h4 {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
}
.testimonial__slider .slider-item {
  padding: 50px 10px 50px 0;
}
.testimonial__slider .item-wrapper {
  background-color: #fff;
  padding: 40px 30px;
  border-radius: 10px;
}
.testimonial .item-content {
  font-size: 19px;
  color: #696969;
  line-height: 28px;
  text-align: left;
  font-weight: 400;
}
.testimonial .item-content::before {
  content: open-quote;
  font-size: 50px;
  color: #189a46;
  line-height: .8;
  padding-top: 8px;
  font-weight: 600;
  display: inline-block;
  font-family: "Merriweather", serif;
}
.testimonial .item-content::after {
  content: close-quote;;
  font-size: 20px;
  display: inline-block;
}
.testimonial .item-client {
  display: flex;
  justify-content: left;
}
.client-img img {
  width: 100%;
}
.client-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
}
.client-infor h6 {
  font-size: 20px;
  font-weight: 600;
  color: #000c04;
  display: inline-block;
}
.client-infor p {
  color: #777777;
}
.owl-dot span {
  background-color: #afafaf!important;
}
.owl-dot.active span {
  background-color: #189A46!important;
  width: 30px!important;
}
.owl-dot span:hover {
  background-color: #189A46!important;
  width: 30px!important;
}
/* Dark theme testimonial */
.dark .testimonial {
  background-color: #222;
}
.dark .testimonial__slider .item-wrapper {
  background-color: #151515;
}
.dark .testimonial__title h4 {
  color: rgb(221,221,221);
}
.dark .testimonial__slider .item-content {
  color: #afafaf
}
.dark .testimonial__slider .client-infor h6 {
  color: rgb(221,221,221);
}
/*  Bottom */
.w31-bottom .hny-title {
  font-weight: 700;
  font-size: 40px;
  text-transform: capitalize;
  text-align: center;
  line-height: 48px;
}

.w31-bottom p {
  font-size: 19.2px;
  line-height: 28px;
  color: #696969;
  font-family: "Jost", sans-serif;
  text-align:center;
}

.w31-bottom .form-control {
  padding-bottom: 30px;
  border-radius: 10px;
}
.w31-bottom .form-control:focus{
  border: 1px solid #189A46;
  outline: none;
}
.d-md-flex .btn-primary {
  color: #fff;
  background-color: #189A46;
  border-color: #189A46;
  border-radius: 10px;
  padding: 12px 35px;
  transition: all 0.5s;
}
.d-md-flex .btn-primary:hover {
  color: #fff;
  background-color: #116E32;
  border-color: #116E32;
}

.w31-bottom form.subscribe-wthree button {
  flex-basis: 27%;
}

.w3l-bottom .subscribe-wthree-field {
  justify-content: space-between;
}
/*Bottom */
/* Responsive bottom */

@media (max-width: 667px) {
  .w31-bottom form .subscribe-wthree button  {
    flex-basis:100%;
    display: block;
    width: 100%;
    margin-top: 16px;

  }
  
}
/*Footer */
.w31-footer {
  color: #696969;
  background-color: #111111;
}
.w31-footer a {
  color: #696969;
}
.w31-footer ul  {
  list-style-type: none;
}
.w31-footer .footer-bg-layer .footer-title-28 {
  color: #ffff;
  font-weight: 500;
  font-size: 20px;
}
.w31-footer .row .footer-list-28 li {
  padding-bottom: 10px;
}
.w31-footer .footer-28 .footer-bg-layer .main-social-footer-28 .social-icons {
  gap: 20px;
}
.w31-footer .last-footer-28 {
  border-top: 1px solid rgba(103,99, 99, 0.14);
}

.w31-footer .last-footer-28 a {
  color:#97261d;
}
.w31-footer .footer-bg-layer a:hover {
  color: #fff;
}

/* Back-to-top */
#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  background-color: #189a46;
  border:none;
  border-radius: 50%;
}

/* Dark Theme for Bottom*/
.dark .w31-bottom{
background-color: #151515;
}

.dark .w31-bottom .hny-title {
color: #dddddd;
}

.dark .w31-bottom p {
color: #afafaf;
}


/* Dark Theme for Footer */
.dark .w31-footer p {
color: #afafaf;
}
.dark .w31-footer a {
color: #afafaf;
}
/* Dark Theme last-footer  */
.dark .w31-footer .last-footer-28 {
color: #afafaf;
}

.dark .w31-footer .last-footer-28 a {
color: #a2281e !important;
}


/* ///////////////////// */